<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup Failed</title>
</head>
<body>
    <h2>@ViewBag.message</h2>
    <p>There was an issue with your registration. Please try again.</p>
    <a href="" class="btn btn-primary">Go back to Login</a>
</body>
</html>
