<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup Successful</title>
</head>
<body>
    <h2>@ViewBag.message</h2>
    <p>Your account has been successfully created!</p>
    @Html.ActionLink("Login", "Index", "Home", new { id = 1 }, new { @class = "btn btn-primary" })
</body>
</html>
