@model Autopood.Models.PlanesForClients.ImageClientViewModel
@* @model Autopood.Models.PlaneForClients.ImageForClientsViewModel *@

<div class="form-group roww col-sm-4 offset-2">
    <img class="card-img-top" src="@Model.Image" asp-append-version="true" />
</div>